body header {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  background-color: #f4f1ec;
  width: 100%;
  margin-top: 70px;;
  padding-top: 2rem;
}

.bord{
  border: 3px solid black;
  border-radius: 8px;
}
.contImage {
  height: 80px;
}

.tweet{
  padding-left: 1rem;
}
article header{
  padding-top: 0;
}


