#tweet-text {
  border : none;
  outline: none;
  border-bottom: 3px solid black;
  width: 100%;
  background-color: #f4f1ec;
  font-weight: bold;
  font-size: 14px;
}

.button {
  background-color:darkblue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.btn_output{
  display: flex;
  justify-content: space-between;
}

.counter{
  font-weight: bold;
}

.avname{
  display: flex;
  justify-content: space-around;
  padding-top: 0.2rem;  
}

.avnamehandle{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

